# How to improve your Matplotlib visualizations and Pandas dataframes by Paul Aleksis

In this notebook I will be showing how to utilize matplotlib classes and methods to create customized data visualizations.

The blog for this notebook can be found on [medium](https://medium.com/@paulaleksis/how-to-improve-your-matplotlib-visualizations-and-pandas-dataframes-89e4359aba46)

### Imports:

In [4]:
# my webcrawler that scrapes live car data from a autovillage website
from paulsweb.webcrawler import autovillage_crawler

# visual library imports
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## Load Data:

In [5]:
df = autovillage_crawler()

     Auto Village Webscraper! - Version 1.1

     A car web scraping program created by Paul Aleksis Williams.

     Program description:


     This programs scrapes cars listed on the autovillage.co.uk website, cleans the
     entries, drops duplicated entries, drops entries with missing values, and
     returns a data frame that contains 1 target variable and 8 features.


     Program inputs:

     1. Input a car manufacturer name or leave blank for all manufacturers.
        please use a hyphen for names with spaces (mercedes-benz)

     2. Input the body style of cars you want to scrape ot leave empty for all.
       options: saloon, hatchback, 4x4, estate, coupe, convertible, mpv. For
       multiple styles seperate input with a comma.

     3. Input the number of pages to scrape there are 10 cars per page. If left
       blank, it will scrape 1 page per body style.

     4. Input a name for the file to save it as a csv in the current directory.
       If left blank, It will not save but you can set it as a variable to view
       the table.


     Program output:


     The function returns a cleaned data frame of cars scraped from autovillage.co.uk
     dropping all the missing values within the websites interface, and removing any
     duplicated cars.


     Program save feature:


     You can leave the save input empty and the file will not be saved.

     You can set a variable for this function in jupyter notebooks and manipulate
     the created pandas object as normal.






Inputs:
------------------------------------------------------------------------------------------------------
Enter a car brand you are interested in (leave blank for all):

>  audi, bmw, mercedes-benz, ferrari, alfa-romero, ford, honda

Enter a body style (or leave blank for all):

>

Enter the amount of pages you want to scrape (leave blank for 1)

>  5

  0%|          | 0/5 [00:00<?, ?it/s]

ETA of process:
------------------------------------------------------------------------------------------------------
7 cycles of 5 pages:
Expecting: ~ 2450 cars

100%|██████████| 5/5 [00:15<00:00,  3.16s/it]
100%|██████████| 5/5 [00:20<00:00,  4.03s/it]
100%|██████████| 5/5 [00:19<00:00,  3.86s/it]
100%|██████████| 5/5 [00:18<00:00,  3.69s/it]
100%|██████████| 5/5 [00:20<00:00,  4.09s/it]
100%|██████████| 5/5 [00:16<00:00,  3.35s/it]
100%|██████████| 5/5 [00:20<00:00,  4.20s/it]

Output:
------------------------------------------------------------------------------------------------------
Done! you scraped:  1592 cars!
858 cars were dropped due to poor format
Name to save file as (leave blank to not save):

>  cars

------------------------------------------------------------------------------------------------------
File saved as cars.csv in the current directory!

I stored the scraped car data within the repo as `cars.csv` so that you can access it and reproduce anything seen in this notebook.

In [6]:
# inspect to see if the data was scraped
df.head()

   price(£)  mileage(mi)  door_count body_style  engine_size(cc) transmission    year brand model
0     14950      99856.0         4.0     Saloon           4163.0       Manual  2007.0  Audi   RS4
1     13995      58000.0         4.0     Saloon           1968.0    Automatic  2015.0  Audi    A6
2     10950      49780.0         4.0     Saloon           1968.0    Automatic  2014.0  Audi    A6
3     12500      38007.0         4.0     Saloon           1968.0       Manual  2012.0  Audi    A4
4     21100      10395.0         4.0     Saloon           1498.0       Manual  2018.0  Audi    A3