# Styling Data Frames with pandas

Styling in pandas can make your data analysis experience a lot more pleasant. In this notebook, I will be showing you multiple different styling options for data frames within the pandas library. Checkout the blog I wrote about this subject on my [Medium](https://medium.com/@paulaleksis/styling-data-frames-using-pandas-fb066c899f4c).

![Pandas style](./pandas_style.jpg)
Photo by [Erik Mclean](https://unsplash.com/@introspectivedsgn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText)

## Library Imports:

In [28]:
# Data manipulation libraries & aliases
import pandas as pd
import numpy as np
import seaborn as sns # for the color palette usages

## Load some data
The data is provided within this repo and web scrapped using my custom program.

In [25]:
df = pd.read_csv("cars.csv", index_col=0 )

In [26]:
df.head()

   price(£)  mileage(mi)  door_count body_style  engine_size(cc) transmission    year brand model
0     14950      99856.0         4.0     Saloon           4163.0       Manual  2007.0  Audi   RS4
1     13995      58000.0         4.0     Saloon           1968.0    Automatic  2015.0  Audi    A6
2     10950      49780.0         4.0     Saloon           1968.0    Automatic  2014.0  Audi    A6
3     12500      38007.0         4.0     Saloon           1968.0       Manual  2012.0  Audi    A4
4     21100      10395.0         4.0     Saloon           1498.0       Manual  2018.0  Audi    A3

## What can we do?

With pandas styling there are many options to begin you might want to know what color options you have